
/* DockDemo.css */
.dock-demo .dock-window {
  width: 10%;
  height: 450px;
  position: relative;
  background-repeat: no-repeat;
  background-size: cover;
}
.dock-demo .p-dock {
  z-index: 1000;
}  
.app-container {
  display: flex;
  flex-direction: row;
}

.pages-container {
  width: 100%;
}
