body {
    margin: 0;
    padding: 0;
  }
  
  .app-container {
    display: flex;
  }
  
  .navbar-container {
    width: 240px;
  }
  
  .pages-container {
    flex-grow: 1;
  }
  
  .full-width {
    width: 100%;
  }
  