.logo-black {
  position: absolute;
  top: 4rem;
  left: 8rem;

  width: 6rem;
  height: auto;
}

.go_home {
  position: absolute;
  top: 4rem;
  right: 8rem;

  width: auto;
  background-color: transparent;
  border: none;

  color: black;
  font-size: 12px;
}

.logo-big {
  position: relative;
  top: 8rem;
  left: 50%;
  transform: translateX(-50%);
  width: 15rem;
  margin-bottom: 3rem;
}

.login-container {
  position: relative;
  top: 8rem;
  left: 50%;
  transform: translateX(-50%);
  width: 30%;
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 1rem;

  border: 1px solid #C2C2C2;
  border-radius: 5px;
}

.title {
  position: relative;
  top: 0rem;

  margin-bottom : -1rem;
}

.login-form {
  display: flex;
  flex-direction: column;
  align-items: flex-start; /* 왼쪽에 정렬하도록 수정 */
  justify-content: center;
  gap: 0.5rem;
  margin-top: 2rem;
  padding: 2rem; /* h2와 폼이 가장자리로부터 떨어져 보이도록 패딩을 추가 */
  width: 100%;
}

.login-form h2 {
  margin-top: 0; /* 위에서 조정한 패딩으로 인해 h2의 상단 마진을 0으로 설정합니다. */
}

.email-input {
  position: relative;
  left: 10%;

  width: 80%;
  height: 2.5rem;
  border-radius: 5px;
  border: 1.5px solid #C2C2C2;
  background-color: #F1F1F1;
  font-size: 16px;
  padding-left: 3%;
}

.email-input::placeholder{
  font-size: 14px;
}

.pw-input {
  position: relative;
  left: 10%;
  margin-bottom: 1rem;

  width: 80%;
  height: 2.5rem;
  border-radius: 5px;
  border: 1.5px solid #C2C2C2;
  background-color: #F1F1F1;
  font-size: 16px;
  padding-left: 3%;
}

.pw-input::placeholder{
  font-size: 14px;
}

.error-container {
  margin-top: -30px;
  margin-bottom: -10px;
  width: 100%; /* 에러 컨테이너의 너비를 100%로 설정하세요. */
  text-align: center; /* 글자를 가운데 정렬하세요. */
}

.error-message {
  color: red;
  font-size: 16px;
  display: inline-block; /* 에러 메시지를 인라인-블록 요소로 설정하세요. */
}

.login-button {
  position: relative;
  left: 10%;

  width: 80%;
  height: 2.5rem;
  border-radius: 5px;
  border: none;
  background-color: black;

  font-size: 16px;
  color: #ffffff;

  transition: all 0.3s ease;

  margin-bottom: 20px;
}

.login-button:hover {
  border: 1px solid #dab601;
  background-color: #FFD600;
  color: black;
}

.login-button:active {
  border: 1px solid #dab601;
  background-color: #FFD600;
  color: black;
}

.parent-container {
  width: 100%;
  text-align: center;
}

.text-container {
  display: inline-flex;
  align-items: center;
  justify-content: center;
}

.text-action {
  font-size: 12px;
}

.separator {
  margin: 0 8px;
  font-size: 12px;
}