.layer {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: #f6f6f6;
}

.loading-text {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  font-size: 24px;
  font-weight: bold;
  color: #333;
}

.logo-black {
  position: absolute;
  top: 4rem;
  left: 8rem;

  width: 6rem;
  height: auto;
}

.go_login {
  position: absolute;
  top: 4rem;
  right: 8rem;

  width: auto;
  background-color: transparent;
  border: none;

  color: black;
  font-size: 15px;
}

.contents-container {
  position: absolute;
  top: 14rem;
  left: 8rem;

  width: calc(100% - 16rem);
  height: 60%;

}

.description-container {
  position: relative;
  width: 50%;
  height: 30%;
}

.d1 {
  position: relative;
  height: auto;
  display: flex;
  align-items: center;
}

.bigtitle {
}

.smalltitle {
  position: relative;
  width: 160px;
  height: 30px;
  margin-left: 10px;

  background-color: #11c042;
  border-radius: 50px 50px 50px 50px; /* 픽셀 단위로 반원 모양을 만듭니다. */

  display: flex;
  align-items: center;
  justify-content: center; /* 가로 축을 중심으로 요소를 가운데로 정렬합니다. */
  color: white;
}

.d2 {
  position: relative;
}

.button1 {
  position: absolute;
  bottom: 0;
  right: 500px;
  margin-left: 10px;
  width: 240px;
  height: 300px;
  background-color: transparent;
  border: none;
  display: flex;
  flex-direction: column;
}

.profilepic {
  flex: 6;
  width: 100%;
  height: 100%;
  box-shadow: 0px 0px 5px gray;
  border-top-left-radius: 5px;
  border-top-right-radius: 5px;
  background-color: transparent;
}

.profile-guide {
  flex: 4;
  width: 100%;
  height: 100%;
  box-shadow: 0px 0px 5px gray;
  border-bottom-left-radius: 5px;
  border-bottom-right-radius: 5px;
  background-color: white;
}

.button2 {
  position: absolute;
  bottom: 0;
  right: 250px;
  width: 240px;
  height: 300px;
  background-color: transparent;
  border: none;
  display: flex;
  flex-direction: column;
}

.boardpic {
  flex: 6;
  width: 100%;
  height: 100%;
  object-fit: cover;
  box-shadow: 0px 0px 5px gray;
  border-top-left-radius: 5px;
  border-top-right-radius: 5px;
  background-color: transparent;
}

.board-guide {
  flex: 4;
  width: 100%;
  height: 100%;
  box-shadow: 0px 0px 5px gray;
  border-bottom-left-radius: 5px;
  border-bottom-right-radius: 5px;
  background-color: white;
}

.button3 {
  position: absolute;
  bottom: 0;
  right: 0;
  width: 240px;
  height: 300px;
  background-color: transparent;
  border: none;
  display: flex;
  flex-direction: column;
}

.chatpic {
  flex: 6;
  width: 100%;
  height: 100%;
  box-shadow: 0px 0px 5px gray;
  border-top-left-radius: 5px;
  border-top-right-radius: 5px;
  background-color: transparent;
}

.chat-guide {
  flex: 4;
  width: 100%;
  height: 100%;
  box-shadow: 0px 0px 5px gray;
  border-bottom-left-radius: 5px;
  border-bottom-right-radius: 5px;
  background-color: white;
}

.guide1 {
  position: absolute;
  top: 60%;
  left: 20px;
}

.guide2 {
  position: absolute;
  top: 75%;
  left: 20px;
  width: 68%;
  text-align: left;
  word-wrap: break-word;
  max-width: 168px;
}

.gonow {
  position: absolute;
  top: 85%;
  right: 43px;
  width: 50px;
  display: inline-flex;
}

.gopic {
  position: absolute;
  bottom: 10px;
  right: 20px;
  width: 20px;
  height: auto;
}