.dock-window {
  width: 96px;
  height: 100%;
  position: fixed;
  background-repeat: no-repeat;
  background-size: cover;
  background-color: white;
  z-index: 1000;

  box-shadow :0px 0px 5px gray;

  border-top-right-radius: 5px;
  border-bottom-right-radius: 5px;

  z-index :9999;
}

.navbar-logo {
  position: absolute;
  top: 48px;
  left: 50%;
  transform: translateX(-50%);
}

.navbar-logo img {
  width: 48px;
  height: auto;
}

.button-group {
  position: absolute;
  top: 30%;
  left: 50%;
  transform: translate(-50%, -50%);

  background-color: transparent;
}

.profile-button {
  width: 96px;
  height: 80px;

  background-position: center;
  background-color: transparent;
  background-repeat: no-repeat;

  border-top : 1px solid rgba(128, 128, 128, 0.359); 
  border-bottom : 1px solid rgba(128, 128, 128, 0.359);
  border-left: none;
  border-right: none;
}

.board-button {
  width: 96px;
  height: 80px;

  background-position: center;
  background-color: transparent;
  background-repeat: no-repeat;
  
  border-top : none;
  border-bottom : 1px solid rgba(128, 128, 128, 0.359); 
  border-left: none;
  border-right: none;
}

.chat-button {
  width: 96px;
  height: 80px;

  background-position: center;
  background-color: transparent;
  background-repeat: no-repeat;
  
  border-top :none;
  border-bottom : 1px solid rgba(128, 128, 128, 0.359); 
  border-left: none;
  border-right: none;
}

.logout-button {
  position: absolute;
  bottom: 48px;
  left: 50%;
  transform: translateX(-50%);

  width: 80px;
  height: 32px;
  
  background-color: transparent;
  border: none;

  color: gray;
  font-size: 16px;
  text-decoration: underline;
}