.layout {
    display: flex;
    flex-direction: row;
  }
  
  
  .mapContainer {
    width: 100%;
    height: 100vh;
  }
  
  .features {
    width: 0px;
    height: 100%;
    background-color: black;
  }
  